<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="logo.png">
</head>

<body>
    <div class="navigation">
        <img src="../static/image/logo.png" alt="Logo" class="logo">
        <a href="/Home">Home</a>
        <a href="/About">Cars</a>
        <a href="/Buy">Buy</a>
    </div>

    <header>
        <div class="container">
            <div class="image-border">
                <img src="../static/image/Cars/Bmw1.jpg" alt="" class="img1">
            </div>
            <div class="header">
                <!-- <img src="../image/Cars/Bmw1.jpeg" alt="" class="car1"> -->
                <!-- <h1>Design your ultimate driving machine.TM</h1> -->
            </div><br><br><br><br>

            <div class="cards2">
                <div class="card2">
                    <img src="../static/image/Cars/car1.png" alt="" class="car2">
                    <div class="info1">
                        <h1>i4 Gran Coupe</h1>
                        <p>Cutting-edge all-electric performance in a luxurious four-door
                            sports car.</p>
                        <span>Starting MSRP $57,900 <br><br> MSRP as shown $61,650</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car2.png" alt="" class="car2">
                    <div class="info1">
                        <h1>i5 Sedan</h1>
                        <p>The all-electric sedan that takes the lead on the road to sustainable
                            premium mobility.</p>
                        <span>Starting MSRP $67,100<br><br>MSRP as shown $71,750</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car3.png" alt="" class="car2">
                    <div class="info1">
                        <h1>i7 Sedan</h1>
                        <p>The all-electric luxury sedan with executive style.</p>
                        <span>Starting MSRP $87,800 <br><br> MSRP as shown $101,300</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car4.png" alt="" class="car2">
                    <div class="info1">
                        <h1>X1 Sports Activity Vehicle</h1>
                        <p>The rugged SAV that is always ready for adventure.</p>
                        <span>Starting MSRP
                            $42,800
                            MSRP as shown
                            $44,450</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car5.png" alt="" class="car2">
                    <div class="info1">
                        <h1>X6 Sports Activity Coupe</h1>
                        <p>The refined, reimagined coupe offering of a classic.</p>
                        <span>Starting MSRP
                            $76,400
                            MSRP as shown
                            $82,200</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car6.png" alt="" class="car2">
                    <div class="info1">
                        <h1>X7 Sports Activity Vehicle</h1>
                        <p>The largest and most luxurious Sports Activity Vehicle ever built.</p>
                        <span>Starting MSRP
                            $86,700
                            MSRP as shown
                            $92,900</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>

                <div class="card2">
                    <img src="../static/image/Cars/car7.png" alt="" class="car2">
                    <div class="info1">
                        <h1>ALPINA XB7</h1>
                        <p>The luxury Sports Activity Vehicle with extraordinary performance
                            and expressive style from ALPINA.</p>
                        <span>Starting MSRP
                            $156,000
                            MSRP as shown
                            $157,950</span><br><br>
                        <a href="/Buy">
                            <button class="button">Select</button>
                        </a>
                    </div>
                </div><br><br><br><br><br>
                <hr>
                <br><br><br><br><br><br>
            </div>
        </div>
    </header>
    <br>
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Us</h2>
                <p>BMW, or Bayerische Motoren Werke AG, is a German multinational
                    company that is one of the most recognized luxury automobile
                    manufacturers in the world. Founded in 1916 in Munich, Germany,
                </p>
                <div class="contact">
                    <span><img src="https://cdn-icons-png.flaticon.com/128/1034/1034232.png" alt="phone"> &nbsp;
                        +383 45 847 024</span>
                    <span><img src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="email"> &nbsp;
                        altinbalaj773@gmail.com</span>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/About">Cars</a></li>
                    <li><a href="/Buy">Buy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2025 Bmw company | Designed by Altin Balaj
        </div>
    </footer>
</body>

</html>