<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="logo.png">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <img src="../static/image/logo.png" alt="Logo" class="logo">
            <a href="/Home">Home</a>
            <a href="/About">Cars</a>
            <a href="/Buy">Buy</a>
        </div>

        <header>
            <div>
                <img src="../static/image/BMW.jpg" alt="" class="Bmw-image">
            </div><br><br><br>
            <hr><br><br><br>
            <div class="cards">
                <div class="card1">
                    <img src="../static/image/car1.jpg" alt="Car 1" class="car1">
                    <h3>BMW i8</h3>
                    <p>The BMW i8 is a plug-in hybrid sports car developed by BMW.
                        It combines performance with sustainability, featuring a futuristic
                        design and advanced technology.</p>
                </div>

                <div class="card1">
                    <img src="../static/image/car2.jpg" alt="Car 1" class="car1">
                    <h3>BMW 7 Series</h3>
                    <p>The BMW 7 Series is the flagship luxury sedan of BMW, first
                        introduced in 1977. Since then, it has represented the highest level
                        of technology, comfort, and performance that the company offers.</p>
                </div>

                <div class="card1">
                    <img src="../static/image/car3.jpg" alt="Car 1" class="car1">
                    <h3>BMW 5 Series </h3>
                    <p>The BMW 5 Series is one of BMW’s most important and best-selling
                        models, first introduced in 1972. It sits in the mid-size luxury
                        sedan segment and is known for blending comfort.</p>
                </div>
            </div>
            <br><br><br><br>
            <hr><br><br><br>

            <div class="fince">
                <img src="../static/image/BMW info.jpg" alt="" class="fin">
                <div class="Content">
                    <h1>BMW Financial Services.</h1>
                    <p>BMW Financial Services offers a range of financing and leasing
                        options to help customers acquire their desired BMW vehicles.
                        With competitive rates and flexible terms, BMW Financial Services
                        aims to make the ownership experience seamless and enjoyable.</p>
                </div>
            </div>
        </header> <br><br><br><br><br><br>
        <hr><br><br><br>

        <footer>
            <div class="footer-content">
                <div class="footer-section about">
                    <h2>About Us</h2>
                    <p>BMW, or Bayerische Motoren Werke AG, is a German multinational
                        company that is one of the most recognized luxury automobile
                        manufacturers in the world. Founded in 1916 in Munich, Germany,
                    </p>
                    <div class="contact">
                        <span><img src="https://cdn-icons-png.flaticon.com/128/1034/1034232.png" alt="phone"> &nbsp;
                            +383 45 847 024</span>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="email"> &nbsp;
                            altinbalaj773@gmail.com</span>
                    </div>
                </div>
                <div class="footer-section links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/About">Cars</a></li>
                        <li><a href="/Buy">Buy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2025 Bmw company | Designed by Altin Balaj
            </div>
        </footer>
    </div>
</body>

</html>